.Story {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.nomeStory {
    font-size: 13px;
}

.Story .ImgStory:hover {
    opacity: 0.5;
    cursor: pointer;
}

.Story .ImgStory {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.Story .ImgStory img {
    width: 100%;
    border-radius: 50%;  
    border: 2px solid #cd486b;
}

