.Story {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.Story .ImgStory:hover {
    opacity: 0.5;
}

.Story .ImgStory {
    width: 60px;
    border-radius: 50%;
}

.Story .ImgStory img {
    width: 100%;
    border-radius: 50%;  
    border: 2px solid #cd486b;
}
