.Stories {
    display: flex;
    position: relative;
    left: 70vh;
    background-color: transparent;
    border-radius: 20px;
    width: 30vw;
    height: 14%;
    margin: 4px 5px 5px;
    padding: 16px ;
    text-align: center;
}

.ShowMore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-left: -38px;
    background-color: white;
    box-shadow: 0px 0px 0px 1px #cacaca;
    border-radius: 20px;
    height: 20px;
    width: 244px;
    pointer-events: none; /* adicionado para evitar que o hover seja aplicado */
    }
  